* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background: #000;
    color: #fff;
}

.album__toggle-link {
    text-decoration: none;
    color: #fff;
}

.album__tracks-enter {
    opacity: 0.01;
  }

.album__tracks-enter.album__tracks-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.album__tracks-leave {
    opacity: 1;
}

.album__tracks-leave.album__tracks-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
