* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background: #000;
    color: #fff;
}

.album__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1224px;
    margin: 0 auto;
}

.album__list--blocked {
    max-height: 100vh;
    overflow: hidden;
}

.album__img {
    display: block;
    max-width: 100%;
    height: auto;
    filter: grayscale(1);
    transition: filter ease-in-out 250ms;
}

.album__item:hover .album__img {
    filter: grayscale(0);
    transition: filter ease-in-out 250ms;
}

.album__name {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.album__item,
.album__track {
    list-style: none;
}

.album__track {
    position: relative;
    cursor: pointer;
}

.album__track:hover::after {
    content: 'lyrics';
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.album__track-btn {
    background: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 0;
    cursor: inherit;
    outline: none;
    text-align: left;
}

.album__cover-wrapper {
    position: relative;
}

.album__overlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity ease-in-out 250ms;
}

.album__cover-wrapper:hover .album__overlay {
    opacity: 1;
    transition: opacity ease-in-out 250ms;
}

.album__overlay-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    outline: none;
    border: 0;
}

.album__overlay-item:first-child,
.album__overlay-item:first-child:active {
    border-right: 1px solid #999;
}

.album__list,
.album__tracks {
    padding-left: 0;
}

.album__toggle-link {
    text-decoration: none;
    color: #fff;
}

.album__tracks-enter {
    opacity: 0.01;
  }

.album__tracks-enter.album__tracks-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.album__tracks-leave {
    opacity: 1;
}

.album__tracks-leave.album__tracks-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.cover-zoom--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.cover-zoom__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 100%;
}

.cover-zoom__close {
    align-self: center;
    justify-self: end;
    background: none;
    color: #fff;
    border: 0;
    position: relative;
    left: -15px;
    width: 40px;
    height: 40px;
    outline: 0;
    padding-right: 28px;
}

.cover-zoom__close:hover {
    cursor: pointer;
}

.cover-zoom__close:before {
    content: '';
    position: absolute;
    top: 20px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
    transform: rotate(-45deg);
}

.cover-zoom__close:after {
    content: '';
    position: absolute;
    top: 20px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
    transform: rotate(45deg);
}

.cover-zoom__img {
    align-self: center;
}

.lyrics__inner {
    overflow-y: scroll;
}

.lyrics__close-btn {
    align-self: start;
    top: 42px;
}

.lyrics__text {
    margin: 50px 0;
    white-space: pre-line;
}

.lyrics__heading {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}